.users-list {
    border: 2px solid lightgray;
    height: 100px;
    width: 100%;
}

h1 {
    font-size: 14px;
}

.addUsers {
    height: 360px;

}

.firstName {
    margin-top: 20px;
    margin-bottom: 20px;
}

.lastName {
    margin-bottom: 20px;
}

.email {
    margin-bottom: 20px;
}
