 .calendar {
    background-color: #23b0e7;
}

.logo {
    width: 75px;
    height: 75px;
    background-image: url("../../../images/vplanner5_1.png");
}

.backGround {
    background-image: url("../../../images/42545.jpg");
    height: auto;
    min-height: calc(100vh - 65px);
}
.vacation {
    background-image: url("../../../images/vplanner5_1.png");
    border: 2px solid green;
}

.participantsList {
    border: 1px solid gray;
    /* overflow-y: auto; */
    height: auto;
    max-height: 120px;
    width: 200px;
    font-size: 12px;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

.participants {
    cursor: pointer;
}

.participants:hover {
    background-color: rgb(250, 23, 129);
    color: white;  
}

.participants:active {
    background-color: rgb(192, 20, 100);
    color: white;  
}

.participants:focus {
    background-color: rgb(136, 18, 73);
    color: white;  
}

.event {
    cursor: pointer;
    color: #e41818;
}

.events {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 65px);
    background-image: url("../../../images/lock.jpg");
}

.event:hover {
    background-color: rgb(250, 23, 129);
    color: white;
}

.eventsList {
    border: 1px solid gray;
    /* overflow-y: auto; */
    height: auto;
    max-height: 120px;
    width: 200px;
    font-size: 12px;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

.eventContainer {
    display: flex;
    flex-direction: column;
    width: 100%;   
    font-size: 12px;
}

.expenses {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 65px);
    background-image: url("../../../images/42545.jpg");
}

.left {
    width: 100%;
}

.right {
    width: 100%;
    margin-top: 30px;
}

.new-table {
    font-size: 12px;
}

.expense-table-display {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 65px);
    background-image: url("../../../images/bg-pricing.jpg");
}

 .expButton {
    display: flex;
    width: 120px;
} 

 .deleteExpense {
    display: flex;
    width: 120px;
} 

.cost  {
    border: 1px solid lightgray;
    font-weight: bold;
}

.eventNameExp {
    cursor: not-allowed; 
    height: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}
 
.participant {
    cursor: not-allowed; 
    height: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}

.secondaryUsersExpense {
    background-color: lightgray;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
}

.expenseOwed {
    background-color: lightgray;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
}