 .calendar {
    background-color: #23b0e7;

}

.logo {
    width: 75px;
    height: 75px;
    background-image: url("../../../images/vplanner5_1.png");
    /* background-image: url("../../../images/vplanner1_75px.png"); */
}

.vacation {
   
    background-image: url("../../../images/vplanner5_1.png");
    border: 2px solid green;
}

.participantsList {
    border: 1px solid gray;
    overflow-y: auto;
    height: 120px;
    width: 200px;
    font-size: 12px;
}

.participants {
    /* background-color: white; */
    cursor: pointer;
}

.participants:hover {
    background-color: rgb(250, 23, 129);
    color: white;
    
}

.ul {
    /* background-color: aquamarine; */
}

.ul:hover {
   /*  background-color: rgb(16, 20, 9); */
}

.event {
    cursor: pointer;
}

.event:hover {
    background-color: rgb(250, 23, 129);
    color: white;
}

.eventsList {
    border: 1px solid gray;
    overflow-y: auto;
    height: 120px;
    width: 200px;
    font-size: 12px;
}

.eventContainer {
    /* border: 2px solid green; */ 
    display: flex;
    flex-direction: column;
    width: 100%;
    
    font-size: 12px;
}

.left {
   /*  border: 2px soild red; */
    width: 100%;
}

.right {
    /* border: 2px solid orange; */
    width: 100%;
    margin-top: 30px;
}
 
